<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0){ %>
        <ul>
            <% for(let p of products){ %>
            <li>
                <p><%= p.title %> (<%= p.cartItem.qty %> )</p>
                <form action="/cart-delete-item" method="post">
                    <input type="hidden" name="id" value="<%= p.id %>">
                    <button class='btn' type="submit">Delete</button>
                </form>
            </li>
            <% }%>

        </ul>
        <hr>
        <div class="centered">

            <form action="/create-order" method="POST">
                <!-- <input type="hidden" name=""> -->
                <button class='btn' type="submit">Checkout</button>
            </form>
        </div>
        <% }else{ %>
        <h1>Nothing here! :(</h1>
        <% }%>


    </main>
    <%- include('../includes/end.ejs') %>