<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length === 0){ %>
            <h1>Nothing here yet :(</h1>
            <% }else{%>
                <ul>
                <% for(let order of orders){ %>
                    <li>
                        <h1> # <%= order._id %></h1>
                        <ul>
                            <% order.products.forEach(p=>{ %>
                            <li>  <p><%= p.product.title %> (<%= p.qty %> )</p></li>
                            <% }) %>
                        </ul>
                    </li>
                    <% }%>
                </ul>
                <% }%>
    
    </main>
    <%- include('../includes/end.ejs') %>